<div class="center hero-unit">
    <h1>Vocaloid Ranking</h1>

    <%= image_tag("vocaloid_ranking_home.jpg", :alt => "Vocaloid Ranking")  %>
    <small class="source"><a href="http://piapro.jp/content/g2ikn9oz8a3vhrzd">Source</a></small>
</div>