<% i = 0 %>
<table class="table table-bordered">
		<tbody>			
			<% @chart.each do |x| %>
        <tr>
          <td rowspan="2">
            <h2><%= i = i + 1 %></h2>
          </td>
				<%= render :partial => 'shared/video', :locals => {:x => x, :i => i} %>
		  <% end %>	
	</tbody>
</table>
