<footer class="footer">
  <small>
    Charts from
    <a href="http://www.nicovideo.jp/ranking/fav/weekly/vocaloid" target="_blank">Nicovideo</a>. 
    Updates every Monday at 4:00 GMT
  </small>
  <nav>
    <ul>
      <li><a href="http://www.anifag.com/">Anime Fag</a></li>
    </ul>
  </nav>
</footer>