<% cache("footer") do %>
<footer class="footer">
  <small>
    <% if controller.controller_name != "static_pages" %>
    <% name = case controller.controller_name %>
    <% when "charts" %>      
      <% time = "Updates every Monday at 3:00 GMT" %>
      <% "weekly" %>
    <% when "daily_charts" %>      
      <% time = "Rating for last 24 hours. Updates every hour." %>
      <% "daily" %>
    <% when "monthly_charts" %>
      <% time = "Rating for last month. Updates on the first day of every month at 2:00 GMT." %>
      <% "monthly" %>
    <% when "total_charts" %>
      <% time = "Rating for all time. Updates every day at at 1:00 GMT." %>
      <% "total" %>
    <% end %>
    <% act = case controller.action_name %>
    <% when "favorites" %>
      <% "fav" %>
    <% when "views" %>
      <% "view" %>
    <% when "comments" %>
      <% "res" %>
    <% when "mylist" %>
      <% "mylist" %>
    <% end %>
    Charts from
    <a href="<%= "http://www.nicovideo.jp/ranking/" + act + "/" + name + "/vocaloid" %>" target="_blank">Nicovideo</a>. 
    <%= time %>
    <% else %>
    Charts from
    <a href="http://www.nicovideo.jp/ranking/" target="_blank">Nicovideo</a>.
    <% end %>
  </small>
  <nav>
    <ul>
      <li><a href="http://www.anifag.com/">Anime Fag</a></li>
    </ul>
  </nav>
</footer>
<% end %>