<footer class="footer">
  <small>
    <% if controller.controller_name != "static_pages" %>    
    Charts from
    <a href="<%= "http://www.nicovideo.jp/ranking/" + name(controller.controller_name, controller.action_name)[:url] + "/vocaloid" %>" target="_blank">Nicovideo</a>. 
    <%= name(controller.controller_name, controller.action_name)[:time] %>
    <% else %>
    Charts from
    <a href="http://www.nicovideo.jp/ranking/" target="_blank">Nicovideo</a>.
    <% end %>
  </small>
  <nav>
    <ul>
      <li><a href="http://www.anifag.com/">Anime Fag</a></li>
    </ul>
  </nav>
</footer>